:root{
    --primary-background: #000;
    --secondary-background:#1f1f1f; 
}
*{
    background-color: var(--primary-background);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.input-header{
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-background);
    border-radius: 5px;
}
input[type=text]{
    width: 90%;
    border-radius: 5px;
    border: none;
    height: 2.5rem;
    font-size: 24px;
    padding-left: 10px;
    margin: 5px;
}
button{
    height: 2.5rem;
    border: none;
    margin: 5px;
    font-size: 24px;
    border-radius: 5px;
    width: 10%;
}

button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

ul{
    list-style: none;
    font-size: 2rem;
}

.list-checkbox{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list-checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.list-checkbox:hover input ~ .checkmark{
    background-color: #ccc;
}

.list-checkbox input:checked ~ .checkmark{
    background-color: var(--secondary-background);
}

.checkmark::after{
    content: "";
    position: absolute;
    display: none;
}

.list-checkbox input:checked ~ .checkmark::after{
    display: block;
}

.list-checkbox .checkmark::after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}